<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Diglin_Chat>
            <version>1.2.0</version>
        </Diglin_Chat>
    </modules>
    
    <default>
        <chat>
            <chatconfig>
                <enabled>0</enabled>
                <language>md</language>
                <allow_name>1</allow_name>
                <allow_email>1</allow_email>
                <newapicall>1</newapicall>
                <online_greeting_short>Click here to chat</online_greeting_short>
                <offline_greeting_short>Leave a message</offline_greeting_short>
                <away_greeting_short>Click here to chat</away_greeting_short>
                <online_greeting_long>Leave a question or comment and our agents will try to attend to you shortly =)</online_greeting_long>
                <offline_greeting_long>We are offline, but if you leave your message and contact details, we will try to get back to you =)</offline_greeting_long>
                <away_greeting_long>If you leave a question or comment, our agents will be notified and will try to attend to you shortly =)</away_greeting_long>
            </chatconfig>
            <buttonconfig>
                <show>1</show>
                <position>bl</position>
                <hidewhenonline>0</hidewhenonline>
            </buttonconfig>
			<bubbleconfig>
				<show></show>
				<title>Questions?</title>
				<text>Click here to chat with us!</text>
			</bubbleconfig>
        </chat>
    </default>

    <global>
        <blocks>
            <chat>
                <class>Diglin_Chat_Block</class>
            </chat>
        </blocks>
        <helpers>
            <chat>
                <class>Diglin_Chat_Helper</class>
            </chat>
        </helpers>
        <models>
            <chat>
                <class>Diglin_Chat_Model</class>
            </chat>
        </models>
    </global>

    <frontend>
        <layout>
            <updates module="chat">
                <chat>
                    <file>chat.xml</file>
                </chat>
            </updates>
        </layout>
    </frontend>

    <admin>
       <routers>
            <Diglin_Chat>
                <use>admin</use>
                <args>
                    <module>Diglin_Chat</module>
                    <frontName>chat</frontName>
                </args>
            </Diglin_Chat>
       </routers>
    </admin>    
</config>